.App {
  text-align: center;
  width: 100vw;
  height: auto;
  color: white;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #131313;
}

nav {
  height: 75px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid white;
  display: grid;
  place-items: center;
}

nav h1, p{
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

.game {
  width: 100vw;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.board {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.keyboard {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0; /* Adjust margin to prevent squishing */
}

/* Base styles for each key */
.key {
    width: 40px;
    height: 60px;
    margin: 4px;
    border-radius: 4px;
    display: grid;
    place-items: center;
    font-size: 20px;
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
#big {
  width: 100px;
}

/* Adjustments for very small screens */
@media (max-width: 480px) {
    .key {
      width: 8vw; /* Increase key width for very small screens */
      height: 10vw; /* Increase key height for very small screens */
      margin: 2px;
    }
    #big {
      width: 50px;
      font-size: 10px;
    }
}



#correct {
  background-color: #528d4e;

  transform: rotate( 360deg );
  transition: transform 1s;
  transform-style: preserve-3d;
}

#almost {
  background-color: #b49f39;
  transform: rotate( 360deg );
  transition: transform 1s;
  transform-style: preserve-3d;
}

#error {
  background-color: #3a393c;
  transform: rotate( 360deg );
  transition: transform 1s;
  transform-style: preserve-3d;
}

#disabled {
  background-color: #3a393c;
}

.newGame {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #3a393c;
  border: none;
  color: white;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 1px solid grey;
}

.definitions {
  width: 100%;
  text-align: center;
}
.definition {
  max-width: 60%;
  margin: auto;
}